language: node_js
node_js:
  - "6"
  - "5"
  - "4"
services:
  - docker
before_install:
  - docker run -d -p 2379:2379 quay.io/coreos/etcd:v3.0.11 etcd --listen-client-urls="http://0.0.0.0:2379" --advertise-client-urls="http://localhost:2379"
  - docker ps -a
before_script:
  - npm install -g gulp typescript typings
script:
  - typings install
  - tsc
  - npm test -- --verbose
